<form nz-form [formGroup] = "formulario" (ngSubmit)="enviar(formulario.value)" >

  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>Nombre</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName = "producto" placeholder="producto" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>Lider</nz-form-label>
        <nz-form-control>
            <input nz-input formControlName = "talla" placeholder="Talla" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row nzGutter="8">
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>Telefono</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName = "precio" placeholder="Precio" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label>Direccion</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName = "genero" placeholder="Genero" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>



  <div class="footer">
            <button type="button" (click)="close()" class="ant-btn" style="margin-right: 8px;"><span>Cancel</span></button>
            <button type="Submit" (click)="close()" class="ant-btn ant-btn-primary"><span>Submit</span></button>
  </div>
  </form>


